{% extends 'home/main.html' %}
{% load static %}




{% block head_block %}

{% endblock head_block %}
	<!-- Main Content -->
{% block content %}
<div class="body_main">
<h4>Introductory Problems</h4>
<a href="/solution/1"><h5><span class="question">Weird Algorithm</span></h5></a>
<a href="/solution/2"><h5><span class="question">Missing Number</span></h5></a>
<a href="/solution/3"><h5><span class="question">Repetitions</span></h5></a>
<h3>Sorting and Searching</h3>
<h3>Dynamic Programming</h3>
<h3>Graph Algorithms</h3>
<!-- Range Queries<br>
Tree Algorithms<br>
Mathematics<br>
String Algorithms<br>
Geometry<br>
Advanced Techniques<br>
Additional Problems<br> -->

</div>


{% endblock content %}

